.root {
  display: flex;
  flex-direction: column;
  gap: 7px;
}

.label {
  display: flex;
  gap: 7px;
}

.input {
  border: 1px solid var(--grey-border-color);
  outline: none;
  border-radius: 4px;
  background: transparent;
  width: 100%;
}

.input::-webkit-inner-spin-button {
  display: none;
}

.error {
  font: var(--font-s);
}

.disabled {
  border: none;
}

.label.errorColor,
.input.errorColor,
.errorColor {
  color: var(--error-color);
}
